body{
  background-color: #F3F6F6;
  color:#2E2623;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}


#boxhead a{
  font-family: 'Josefin Sans', sans-serif;
  color:#11999E;
}



a:hover{
  color: #40514E;
}

#information h4{
  color: #40514E;
  font-weight: bold;
  padding-left: 5%;
}

#information p{
  padding-left: 5%;
}

#information{
  margin-left: 30%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#information img{
  padding-right: 30px;
}

#title{
  color:#40514E;
  font-size: 50px;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
}

#nav a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color:#40514E;
}

#nav{
  float: right;
  padding-top: 35px;
  padding-right: 10px;
}
#boxhead, #nav{
  background-color: #F3F6F6;
  padding-bottom: 15px;
}

#statement{
  padding-right: 13%;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #F3F6F6;
  font-size: 17px;

}

.designs{
  padding-left: 10%;

}

.para{
  text-align: left !important;
}

#statement h4{
  font-size: 120%;
}


ul{
  text-decoration: none;
  list-style-type: none;
}
img{
  float: left;
}


#statement img{
  margin-left: 1%;
  float: left;
  padding-bottom: 20px;
}

.portfolio img{
  float: none !important;

}


#footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #40514E;
}

#footer a{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: #F3F6F6;
}

#footer a:hover{
  color:#11999E;
}

.logo{
  padding-right: 15px;
}


.box1{
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e6eeee;
  height: 20%;
  height: 250px;
}

.box1 p{
  padding: 5px;
}

.back{
  float: left;
}

.gamehub{
  padding-left: 4% !important;
}

.gamehub img{
  margin-right: 2%;
}

.box2{
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e0ecec;
  height: 250px;
}

.box2 p{
  padding: 5px;
}

.contact{
  margin-left: 20%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.contact img{
  margin-right: 40px;
}
