body{
  background-color: #086365;
  color:#2E2623;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

.wave {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -4;
  transform: skewY(-11deg);
  transform-origin: bottom left;
  background: #11999E;
  background: -webkit-linear-gradient(to top, #11999E, #30E3CA);
  background: linear-gradient(to top, #11999E, #30E3CA);
}

img {
  float: left;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: center;
}

.information_list-elm--header {
  font-size: 170%;
  font-weight: bold;
}

.information_list {
  text-align: left;
  color: white
}

.information_container {
  height: 350px;
}

.information__img {
  margin-left: auto;
  margin-bottom: auto;
  height: 350px;
}

.information h4{
  color: #40514E;
  font-weight: bold;
  padding-left: 5%;
  position: relative;
}

.nav a{
  font-family: 'Josefin Sans', sans-serif;
  color:#11999E;
}

a:hover{
  color: #086365;
}

.nav__title{
  color:#40514E;
  margin-right: auto;
  padding-left: 15px;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}

.nav__links a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color:#40514E;
}

.nav__links{
  float: right;
  justify-content: flex-end;
}
.nav, .nav__links{
  background-color: #F3F6F6;
  position: relative;
  z-index: 100
}

.nav {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.statement{
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #F3F6F6;
  font-size: 17px;
}

.statement h4{
  font-size: 120%;
}

.statement img{
  margin-left: 1%;
  float: left;
  padding-bottom: 20px;
}

.designs{
  padding-left: 10%;

}

.para{
  text-align: left !important;
}

ul{
  text-decoration: none;
  list-style-type: none;
}

.portfolio img{
  float: none !important;

}


#footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #30E3CA;
}

#footer a{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: #40514E;
}

#footer a:hover{
  color:#F3F6F6;
}

.logo{
  padding-right: 15px;
}


.box1{
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e6eeee;
  height: 20%;
  height: 250px;
}

.box1 p{
  padding: 5px;
}

.back{
  float: left;
}

.gamehub{
  padding-left: 4% !important;
}

.gamehub img{
  margin-right: 2%;
}

.box2{
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d0e2e2;
  height: 250px;
}

.box2 p{
  padding: 5px;
}

.contact{
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: left;
}
