body{
  background-color: #247BA0;
  color:#2E2623;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

.wave {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: -4;
  transform: skewY(-11deg);
  transform-origin: bottom left;
  background: #247BA0;
}

img {
  float: left;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: center;
}

.information_list-elm--header {
  font-size: 170%;
  font-weight: bold;
}

.information_list {
  text-align: left;
}

.information__img {
  margin-left: auto;
  margin-bottom: auto;
  height: 350px;
}

.information h4{
  color: #40514E;
  font-weight: bold;
  padding-left: 5%;
  position: relative;
}

.nav a{
  font-family: 'Josefin Sans', sans-serif;
  color:#247BA0;
}

.nav__title{
  color:#40514E;
  margin-right: auto;
  padding-left: 15px;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
}

.nav__links a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color:#FF1654;
}

.nav__links{
  float: right;
  justify-content: flex-end;
}
.nav, .nav__links{
  background-color: #F3F6F6;
  position: relative;
  z-index: 100
}

.nav {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.statement{
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #F3F6F6;
  font-size: 17px;
}

.statement h4{
  font-size: 120%;
}

.statement img{
  margin-left: 1%;
  float: left;
  padding-bottom: 20px;
}

.designs{
  padding-left: 10%;

}

.para{
  text-align: left !important;
}

ul{
  text-decoration: none;
  list-style-type: none;
}

.portfolio img{
  float: none !important;

}


#footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #247BA0;
}

#footer a{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: #F3F6F6;
}

#footer a:hover{
  color: #E9FC97;
}

.logo{
  max-width: 200px;
  padding-right: 15px;
}

.summary-block {
  background-color: #E6F7EB;
}

.summary {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 -15px;
  min-height: 500px;
  font-weight: bold;
}

.summary--light {
  background-color: rgba(0, 0, 0,.1);
}

.summary--red {
  background-color: rgba(255, 22, 84,.7);
}

.summary--blue {
  background-color: rgba(36,123,160,.7);
}

.summary--green {
  background-color: rgba(233,252,151,.6);
}

.summary--design {
  background-image: url('../img/summary/summary-design.png');
}

.summary--code {
  background-image: url('../img/summary/summary-code.jpg');
}
.summary--art {
  background-image: url('../img/summary/summary-art.jpg');
  background-position: top;
}

.divider-bar {
  background-color: white;
  min-height: 30px;
}

.box-child {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255,255 ,.6);
}

.box1{
  background-color: rgba(255,255,255,1);
  min-height: 250px;
}

.box1 p{
  padding: 5px;
}

.back{
  float: left;
}

.gamehub{
  padding-left: 4% !important;
}

.gamehub img{
  margin-right: 2%;
}

.box2{
  background-color: rgba(255,255, 255, 0.95);
  height: 250px;
}

.box2 p{
  padding: 5px;
}

.contact{
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: left;
}
